*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Lato', sans-serif;}
.fix{overflow: hidden;}
ul{list-style: none;}
a{transition: .3s;text-decoration: none;color: #2DABFD;}
.col-4{width: 33.33%;padding: 0 15px;float: left;}
.col-8{width: 66.66%;padding: 0 15px;float: left;}
.col-12{width: 100%;padding: 0 15px;}
.row {
	
	margin-left: -15px;
	margin-right: -15px;
}

/* header area */
.header-area
{
    min-height: 120px;
    border-top: 5px solid #4272d7;
}
.container
{
    width: 1200px;
    margin: auto;
}
.logo {
	margin-top: 30px;
	float: left;
	display: block;
}
/* main menu */
.main-menu {
	float: right;
}
.main-menu ul {
	
}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
.main-menu ul li a {
	padding: 50px 0; 
	display: block;
	color: #666666;
	font-size: 15px;
}
.main-menu ul li:hover > a {
	color: #4272d7;
}
.main-menu ul li:hover  ul.sub-menu
{
    opacity: 1;
    visibility: visible;
    top: 98%;
}

/* sub menu */
.main-menu ul li ul.sub-menu {
	position: absolute;
	width: 260px;
	background: #171a21;
	top: 110%;
	left: 0;
	border-top: 5px solid #4272d7;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 22;
}
.main-menu ul li ul.sub-menu li {
	display: block;
	border-bottom: 2px solid #1e2128;
	margin: 0;
}
.main-menu ul li ul.sub-menu li a {
	padding: 15px 20px;
	color: #fff;
	font-size: 13px;
}
.main-menu ul li ul.sub-menu li:hover > a
{
    background: #4272d7;
    padding-left: 30px;
}

/* another sub menu */
.main-menu ul li ul.sub-menu li ul.sub-menu {
	left: 100%;
	top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover ul.sub-menu 
{
    opacity: 1;
    visibility: visible;
}
/* search */
.header-search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 30px;
	position: relative;
	padding-left: 30px;
	display: block;
}
.header-search-icon::before {
	position: absolute;
	content: "";
	height: 15px;
	width: 2px;
	background: #cccccc;
	left: 0;
}


/* slider area */

.slider-area{}
.active-slider {
	width: 100%;
}
.single-slider {
	background-position: center;
	background-size: cover;
	padding: 175px 0;
	position: relative;
}
.slider-content {
	text-align: center;
}
.slider-content h4 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}
.slider-content h2 {
	color: #fff;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.slider-content a {
	background: #4272d7;
	padding: 20px 42px;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	width: 37px;
	height: 37px;
	background: #3d3d3d !important;
	margin: 0 50px;
	
}
.owl-prev{left: 0;}
.owl-next {right: 0;}

.owl-nav button span {
	position: absolute;
	font-size: 37px;
	color: #fff;
	top: -9px;
	left: 12px;
}

.owl-dots {
	text-align: center;
	padding: 15px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;

}
.owl-dots button.owl-dot {
	background: #bdbdbd;
	height: 15px;
	width: 15px;
	margin: 0 7px;
	border-radius: 20px;
}
.owl-dots button.owl-dot.active{background: #2059d3;}

/* cta area */
.cta-area {
	background: #4272d7;
	padding: 30px 0;
	
	
}
.cta-text {
	
}
.cta-text p {
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}

.cta-text span {
	font-size: 30px;
}
.cta-button {
	text-align: right;
}
.cta-button a {
	padding: 18px 46px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	display: inline-block;
	font-weight: 700;
}

/* feature-area */
.feature-area
{
	padding: 72px 0;
	
}
.single-feature{position: relative; overflow: hidden;}

.single-feature:hover .feature-content 
{
	transform: translateY(0);
}
.feature-img img{width: 100%;}
.feature-content {
	background: #507bd6;
	padding: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(71%);
	bottom: 0;
	transition: .3s;
}
.feature-icon h4 {
	font-size: 16px;
	font-weight: 800;
	color: #fff;
	display: inline-block;
}
.feature-icon i {
	font-size: 25px;
	color: #fff;
	display: inline-block;
	margin-right: 23px;
}
.feature-content p {
	color: #e5e5e5;
	font-size: 15px;
	padding: 30px 0;
	line-height: 25px;
}
.feature-content a {
	color: #fff;
	font-size: 13px;
}

/* service area */

.service-area {
	background: #f0f0f0;
	padding: 70px 0;
	padding-bottom: 20px;
}
.service-title {
	
	text-align: center;
}
.service-title h4 {
	
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 80px;
	position: relative;
}
.service-title h4:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 2px;
	opacity: 1;
	bottom: 65px;
	left: 0;
	background: #adadad;
	right: 0;
	margin: auto;
}
.single-service {
	display: flex;
	margin-bottom: 50px;
	/* padding-bottom: 50px; */
}
.service-icon {
	
}
.service-icon i {
	width: 50px;
	height: 50px;
	background: #4272d7;
	color: #fff;
	font-size: 26px;
	text-align: center;
	line-height: 50px;
}
.service-content {
	margin-left: 20px;
}
.service-content h4 {
	font-size: 16px;
	font-weight: 700;
	color: #717171;
	margin-bottom: 13px;
}
.service-content p {
	color: #666666;
	font-size: 15px;
	line-height: 25px;
}