body{margin: 0;padding: 0;}
.fix{overflow: hidden;}
*{
    box-sizing: border-box;
}
.container{width: 1000px;margin: auto;}
/* header */
.header-area{}
.logo {
	float: left;
	margin: 10px 0;
}
.logo img {
	width: 100px;
	height: 100px;
}

.menu {
	float: right;
	margin: 10px 0;
}
.menu ul {
	list-style: none;
	margin: 0;
}
.menu ul li {
	float: left;
	margin-left: 10px;
}
.menu ul li a {
	text-decoration: navajowhite;
	font-size: 21px;
	padding: 15px;
	display: block;
}

/* slider */
.slider-area{}
.slider{}
.slider img {
	width: 100%;
	
}


/* content */
.content-area{}
.main-content{}
.text {
	width: 50%;
	float: left;
}
.content-menu {
	width: 50%;
	float: left;
	padding-left: 15px;
}
.content-menu ul {
	list-style: none;
}
.content-menu ul li {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.content-menu ul li:last-child{border-bottom: none;}
.content-menu ul li a{text-decoration: none;font-size: 22px;display: block;transition: .3s;}
.content-menu ul li a:hover
{
    color: white;
    padding-left: 15px;
    background: red;
}

/* gallery */
.gallery-area{}
.gallery{}
.gallery-title {
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}
.gallery-title h2 {
	padding: 10px 0;
	margin: 0;
}
.img{width: 33.33%; float: left;padding: 3px;}
.img img {
	width: 100%;
	border: 2px solid;
	height: 230px;
}
/* footer */
.footer-content{border-top: 1px solid ; margin: 10px 0;}
.footer-content h3{text-align: center;}