*{margin: 0;padding: 0;box-sizing: border-box;}
body{}

.container{width: 80%;margin: auto;}
.title-section{margin: 20px 0;}
.title-section h2 {
	background: #FFC300;
	color: #000;
	text-align: center;
	padding: 12px 0;
	font-size: 50px;
}

.box1{width: 100%;border: 1px solid #D8D8D6;padding: 10px;display: flex;}
.box2 {
	width: 100%;
	border: 1px solid #D8D8D6;
	padding: 10px;
	flex-wrap: wrap;
	display: flex;
}
.item {
	width: 100px;
	height: 100px;
	background: #FFC300;
	text-align: center;
	margin: 11px;
	line-height: 90px;
	font-size: 30px;
	font-weight: 700;
}