*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}
.fix{overflow: hidden;}
ul{
    margin: 0;
    list-style: none;
}
a{text-decoration: none;transition: .3s;}


/* header-area */
.header-area {
	border-top: 5px solid #4272d7;
    min-height: 120px;
}
.conatiner {
	width: 1200px;
	margin: auto;
}
.logo {
	float: left;
	margin-top: 30px;
	display: inline-block;
}
.header-right {
	
}
.main-menu{float: right;}
.main-menu ul{}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}

.main-menu ul li a {
	padding: 50px 0;
	display: block;
	font-size: 15px;
	color: #666666;
}
.main-menu ul li:hover >a {
	color: #4272d7;
}
/* sub-menu */
.main-menu ul li ul.sub-menu {
	width: 260px;
	background: #171a21;
	position: absolute;
	top: 110%;
	left: 0;
	border-top: 5px solid #4272d7;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li:hover ul.sub-menu
{
    opacity: 1;
    visibility: visible;
    transition: .6s;
    top: 100%;
}
.main-menu ul li ul.sub-menu li {
	margin: 0;
	display: block;
	border-bottom: 2px solid #1e2128;
}
.main-menu ul li ul.sub-menu li:hover
{
    background: #4272d7;
    padding-left: 30px;
    transition: .3s;
   
}
.main-menu ul li ul.sub-menu li:hover ul.sub-menu
{
    opacity: 1;
    visibility: visible;
}

.main-menu ul li ul.sub-menu li a {
	padding: 15px 20px;
	color: #ffff;
    transition: .6s;
    
}
/* another sub-menu */
.main-menu ul li ul.sub-menu li ul.sub-menu {
	top: 100%;
	left: 100%;
    opacity: 0;
    visibility: hidden;
}

/* search */
.header-search-icon {
	float: right;
	margin-top: 50px;
	padding-left: 25px;
	position: relative;
	margin-left: 25px;
}
.header-search-icon:before
{
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
    background: #cccccc;
}