.demo{position: relative;}
.image{}
.content{position: absolute;top: 0; left: 0;}
.content h3{color: white;}

/* before */
.main-content{width: 500px;}
.image-area a{position: relative;display: block;}
.image-area a img{width: 100%;}

.image-area a:before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: red;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
    transform: scale(0);
}
.image-area a:hover:before
{
    opacity: .5;
    transform: scale(1);
 
}

.image-area a:after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: blue;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
    transform: scale(0);
   
}
.image-area a:hover:after
{
    opacity: .3;
    transform: scale(1);
}