body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fix{overflow: hidden;}

.container
{
    width: 70%;
    margin: auto;
}
.mt-15
{
    margin-top: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}


.main-content {
    width: 100%;
    margin: auto;  
}
.section-title {
    text-align: center;
    padding: 15px;
    background: #FFC300;
    margin-bottom: 15px;
}

/* author */
.author
{
    border: 1px solid;
    padding: 5px;
}



/* section-one */
.section-one
{
    width: 100%;
}


/* example one */
.example-one
{
    width: 48%;
    float: left;
    position: relative;
}

.example-one a
{
    position: relative;
    display: block;
}

.example-one a:before {
    position: absolute;
    width: 100%;
    background: #ffc300;
    content: "";
    height: 456px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;
    transform: scale(.6);
}
.example-one a:hover:before
{
opacity: 0.5;
transform: scale(1);
}
.example-one a img {
    width: 100%;
    height: 456px;
   
    
}
.example-one-text h4{
    color: #fff;
    font-size: 50px;
}
.example-one-text {
    position: absolute;
    text-align: center;
    top: 204px;
    left: 0;
    right: 0;
}

/* example two before after */

.example-two {
    width: 48%;
    float: right;
    position: relative;
}


.example-two a
{
    position: relative;
    display: block;
}

.example-two a img {
    width: 100%;
    height: 456px;
    
    
}
.example-two-text h4 {
    position: absolute;
    top: 204px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 49px;
}

.example-two a::before {
    position: absolute;
    
    content: "";
    width: 50%;
    height: 456px;
    background: #ffc300;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .6s;
    transform: scale(.6);
}

.example-two a:hover:before {
   
    opacity: 0.5;
    transform: scale(1);
}
.example-two a::after {
    position: absolute;
   
    content: "";
    width: 50%;
    height: 456px;
    background: #E5E5E5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;
    transform: scale(.6) ;
}
.example-two a:hover:after
{
opacity: 0.5;
transform:scale(1);
}

/* section two */
.section-two
{
    width: 100%;
}

/* example three before after */
.example-three
{
    width: 48%;
    float: left;
    position: relative;
}
.example-three a
{
    position: relative;
    display: block;
}
.example-three a img
{
    width: 100%;
    height: 456px;
}
.example-three-text {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 212px;
    left: 0;
    right: 0;
    font-size: 37px;
}
.example-three a::before
{
    position: absolute;
    content: "";
    width: 0%;
    background: #E5E5E5;
    height: 456px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;
    
}

.example-three a:hover::before
{
    opacity: .3;
    width: 50%;
    
}

.example-three a::after
{
    position: absolute;
    content: "";
    width: 0%;
    background: #ffc300;
    height: 456px;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .6s;
}
.example-three a:hover::after
{
    opacity: .3;
    width: 50%;
    
}

/* example four before after */

.example-four
{
    width: 48%;
    float: right;
    position: relative;
}
.example-four a
{
    position: relative;
    display: block;
}
.example-four a img
{
width: 100%;
height: 456px;
}
.example-four-text {
    position: absolute;
    color: #fff;
    font-size: 39px;
    top: 208px;
    left: 0;
    right: 0;
    text-align: center;
}
.example-four a::before
{
    position: absolute;
    content: "";
    width: 50%;
    height: 0;
    background: #e5e5e5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;

}
.example-four a:hover:before
{
    opacity: .3;
    height: 456px;
}

.example-four a:after
{
    position: absolute;
    content: "";
    width: 50%;
    height: 0;
    background: #ffc300;
    bottom: 4px;
    right: 0;
    opacity: 0;
    transition: .6s;
}
.example-four a:hover:after
{
    opacity: .3;
    height: 456px;
}

/* example-five */
.example-five
{
    width: 24%;
    float: left;
    margin-right: 5px;
    position: relative;
}
.example-five img {
    width: 100%;
    height: 200px;
    opacity: 0.8;
}
.example-five-link {
    position: absolute;
    top: 73px;
    left: 5px;
    margin: auto;
}
.example-five a {
    text-decoration: none;
    position: relative;
    display: block;
    padding-left: 10px;
}
.example-five a h2 {
    color: #fff;
    padding: 10px 2px;
    background: #535353;
}
.example-five a:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 3px;
    background: #fff;
    left: 10px;
    bottom: 0;
    opacity: 1;
    transition: .6s;
}
.example-five a:hover:before {
    width: 95%;
    opacity: 1;
    background: #FFC300;
}

/* example-six */
.example-six
{
    
    width: 24%;
    float: left;
    margin-right: 5px;
    position: relative;
}
.example-six img{
   width: 100%;
   height: 200px;
}
.example-six-link
{
    position: absolute;
    top: 73px;
    left: 9px;
}
.example-six a 
{
    position: relative;
    display: block;
    text-decoration:none ;
}
.example-six a h2 
{
    color: #fff;
    padding: 10px 2px;
    text-align: center;
    font-size: 21px;
    position: relative;
}
.example-six a h2:before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    background: #E5E5E5;
    opacity: .3;
    top: 0;
    left: 0;
    
}
.example-six a:before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: .6s;
}
.example-six a:hover:before {
    width: 86%;
    background: #FFC300;
}

/* example-seven */
.example-seven
{
    width: 24%;
    float: left;
    position: relative;
    margin-right: 5px;
}
.example-seven img
{
    width: 100%;
    height: 200px;
}
.example-seven-link
{
    position: absolute;
    top: 73px;
    left: 9px;

}
.example-seven-link a
{
    position: relative;
    display: block;
    text-decoration: none;
}
.example-seven-link a:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 30px;
    height: 3px;
    left: 2px;
    top: 38px;
    opacity: 1;
    transition: .6s;
}

.example-seven-link a:hover:before {
   
    background: #ffc300;
    width:98%;
    
}


.example-seven-link a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 30px;
    height: 3px;
    right: 2px;
    top: 4px;
    opacity: 1;
    transition: .6s;
}
.example-seven-link a:hover:after {
   
    background: #ffc300;
    width: 98%;
    
}

.example-seven-link a h2
{
    color: #fff;
    padding: 10px 2px;
    text-align: center;
    font-size: 21px;
    position: relative;
    
}
.example-seven-link a h2:before
{
    position: absolute;
    content: "";
    background: #E5E5E5;
    width: 100%;
    height: 50px;
    opacity: .3;
    top: 0;
    left: 0;

}

/* example-eight */

.example-eight
{
    width: 24%;
    float: left;
    position: relative;
}
.example-eight img {
    width: 100%;
    height: 200px;
}
.example-eight-link {
    position: absolute;
    top: 73px;
    left: 9px;
}
.example-eight-link a
{
    position: relative;
    display: block;
    text-decoration: none;
}
.example-eight-link a h2
{
    color: #fff;
    font-size: 21px;
    padding: 10px 2px;
    position: relative;
}
.example-eight-link a h2:before
{
    position: absolute;
    content: "";
    background: #E5E5E5;
    width: 100%;
    height: 45px;
    opacity: .3;
    top: 0;
    left: 0;
    right: 0;
}
.example-eight-link a:before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    transition: .6s;
}
.example-eight-link a:hover:before
{
   
    width: 100%;
   
    background: #FFC300;
   
}

.example-eight-link a:after
{
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    bottom: 0;
    right:  0;
    opacity: 1;
    transition: .6s;
}
.example-eight-link a:hover:after
{
  
    width: 100%;
   
    background: #FFC300;
   
}
.sampl
{
    position: relative;
}
.sampl:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 13px;
    background: #fff;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: .6s;
}

.sampl:hover:before
{
    height: 100%;
    background: #FFC300;
    
}

.sampl::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 13px;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    transition: .6s;
}

.sampl:hover::after
{
    height: 100%;
    background: #FFC300;
    
}
