body
{
    margin: 0;
}
.fix{overflow: hidden;}
.header-area
{

}
.container{width: 1000px; margin: auto;}
.logo {
	float: left;
	margin: 10px;
}
.logo img
{
    width: 50px;
    height: 50px;
}
.menu{float: right;}

.menu ul {
	list-style: none;
	margin: 0;
}
.menu ul li {
	float: left;
	margin-left: 20px;
}
.menu ul li a {
	text-decoration: none;
	padding: 20px;
	display: block;
}