body
{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fix
{
    overflow: hidden;
}
.mt-10
{
    margin-top: 10px;
}
.container
{
    width: 70%;
    margin: auto;
}
h3
{
    text-align: center;
    padding: 15px;
    background: #FFC300;
}
.main-content {
    margin-top: 13px;
    margin: auto;
    width: 50%;
    position: relative;
}
.main-content img {
    width: 100%;
    margin-top: 23px;
}
.content {
    position: absolute;
    top: 35px;
    right: 15px;
}

.another-content
{
    position: relative;
}
.bg-yellow {
    background: #FFC300;
    height: 247PX;
    width: 80%;
    margin: auto;
}
.text-demo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 105px;
    text-align: center;
}
