*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Lato', sans-serif;}
.fix{overflow: hidden;}
ul{list-style: none;}
a{transition: .3s;text-decoration: none;color: #2DABFD;}
.row{margin: 0 -15px;}
.col-12{width: 100%;padding: 0 15px;float: left;}
.col-8{width: 66.66%;float: left;padding: 0 15px;}
.col-6{width: 50%;float: left;padding: 0 15px;}
.col-4{width: 33.33%;float: left;padding: 0 15px;}
.col-3{width: 25%;float: left;padding: 0 15px;}
.bg-dark{background: #000;}
.pt-70{padding-top: 70px;}
.pb-70{padding-bottom: 70px;}
.mb-80{margin-bottom: 80px;}
.text-white{color: #fff;}

/* header area */
.header-area
{
    min-height: 120px;
    border-top: 5px solid #4272d7;
}
.container
{
    width: 1200px;
    margin: auto;
}
.logo {
	margin-top: 30px;
	float: left;
	display: block;
}
/* main menu */
.main-menu {
	float: right;
}
.main-menu ul {
	
}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
.main-menu ul li a {
	padding: 50px 0; 
	display: block;
	color: #666666;
	font-size: 15px;
}
.main-menu ul li:hover > a {
	color: #4272d7;
}
.main-menu ul li:hover  ul.sub-menu
{
    opacity: 1;
    visibility: visible;
    top: 98%;
}

/* sub menu */
.main-menu ul li ul.sub-menu {
	position: absolute;
	width: 260px;
	background: #171a21;
	top: 110%;
	left: 0;
	border-top: 5px solid #4272d7;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 22;
}
.main-menu ul li ul.sub-menu li {
	display: block;
	border-bottom: 2px solid #1e2128;
	margin: 0;
}
.main-menu ul li ul.sub-menu li a {
	padding: 15px 20px;
	color: #fff;
	font-size: 13px;
}
.main-menu ul li ul.sub-menu li:hover > a
{
    background: #4272d7;
    padding-left: 30px;
}

/* another sub menu */
.main-menu ul li ul.sub-menu li ul.sub-menu {
	left: 100%;
	top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover ul.sub-menu 
{
    opacity: 1;
    visibility: visible;
}
/* search */
.header-search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 30px;
	position: relative;
	padding-left: 30px;
	display: block;
}
.header-search-icon::before {
	position: absolute;
	content: "";
	height: 15px;
	width: 2px;
	background: #cccccc;
	left: 0;
}


/* slider area */

.slider-area{}
.active-slider {
	width: 100%;
}
.single-slider {
	background-position: center;
	background-size: cover;
	padding: 175px 0;
	position: relative;
}
.slider-content {
	text-align: center;
}
.slider-content h4 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}
.slider-content h2 {
	color: #fff;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.slider-content a {
	background: #4272d7;
	padding: 20px 42px;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	width: 37px;
	height: 37px;
	background: #3d3d3d !important;
	margin: 0 50px;
	
}
.owl-prev{left: 0;}
.owl-next {right: 0;}

.owl-nav button span {
	position: absolute;
	font-size: 37px;
	color: #fff;
	top: -9px;
	left: 12px;
}

.owl-dots {
	text-align: center;
	padding: 15px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;

}
.owl-dots button.owl-dot {
	background: #bdbdbd;
	height: 15px;
	width: 15px;
	margin: 0 7px;
	border-radius: 20px;
}
.owl-dots button.owl-dot.active{background: #2059d3;}



/* cta-area */
.cta-area{background: #4272d7;padding: 31px 0;}
.cta-content{}
.cta-content p {
	font-size: 18px;
	color: #fff;
	margin-top: 8px;
}
.cta-content p span{font-size: 30px;}

.cta-button {
	text-align: right;
}
.cta-button a {
	color: #fff;
	border: 1px solid #fff;
	font-size: 15px;
	padding: 20px 45px;
	display: inline-block;
}

/* faeture area */

.feature-area{padding: 75px 0;}
.single-feature {height: 280px;position: relative;}
.single-feature:hover > .single-feature-content
{
	transform: translateY(0);
}
.single-feature img {
	height: 100%;
	width: 100%;
}
.single-feature-content {
	background: #507bd6;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 35px;
	transform: translateY(193px);
	transition: .3s;
}
.single-feature-content p {
	color: #ced3e3;
	line-height: 25px;
	font-size: 15px;
	padding: 27px 0;
}
.single-feature-content a {
	font-size: 13px;
	color: #fff;
}
.feature-icon {
	
}
.feature-icon h2 {
	color: #fff;
	font-size: 16px;
}
.feature-icon i {
	font-size: 30px;
	margin-right: 10px;
}

/* service area */
.service-area {
	background: #f0f0f0;
	padding: 70px 0;
	padding-bottom: 20px;
}
.section-title {
	text-align: center;
	
}
.section-title h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
	display: inline-block;
}
.section-title h3::before {
	position: absolute;
	content: "";
	background: #adadad;
	height: 2px;
	bottom: -17px;
	left: 0;
	opacity: 1;
	width: 40px;
	margin: auto;
	right: 0;
}
.single-service {
	display: flex;
}
.service-icon{}
.service-icon i{background: #2059d3;height: 50px;width: 50px;text-align: center;color: #fff;line-height: 50px;font-size: 26px;}
.service-content {
	margin-left: 15px;
	padding-bottom: 50px;
}
.service-content h2 {
	color: #555555;
	font-size: 16px;
	/* line-height: 24px; */
	margin-bottom: 15px;
}
.service-content p {
	color: #727272;
	font-size: 15px;
	line-height: 25px;
}

/* Project Area */
.project-area{}
.project-active{}
.project-wrapper{}
.single-project{position: relative;}
.single-project:before {
    position: absolute;
    content: "";
    background: #507bd6;
    width: 100%;
    height: 220px;
	transition: .3s;
	opacity: 0;
}
.single-project:hover:before
{
	opacity: 1;
}
.single-project:hover > .project-content
{
	visibility: visible;
}
.project-content h4 a:hover
{
	text-decoration: underline;
}
.project-thumbs {
    height: 220px;
}
.project-thumbs img {
    width: 100%;
	height: 100%;
}
.project-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    /* margin: auto; */
    text-align: center;
	visibility: hidden;
	transition: .3s;
}
.project-content h4{}
.project-content h4 a {
    color: #e6e6e6;
    font-size: 15px;
}
.project-content span {
    color: #cccccc;
    font-size: 13px;
}
.project-active >.owl-nav button {
	position: absolute;
	top: 50%;
	width: 37px;
	height: 37px;
	background: red !important;
	margin: 0 50px;
	
}


/* video-area */
.video-area{padding: 75px 0;}
.video-thumb{position: relative;}
.video-thumb img{width: 100%;}
.video-thumb a {
	position: absolute;
	/* display: inline-block; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 55px;
	width: 55px;
	color: #fff;
	font-size: 58px;
}

/* choice list */
.choice-list {
    padding-bottom: 30px;
    padding-left: 10px;
}
.choice-list p {
    color: #747474;
    font-size: 15px;
    line-height: 25px;
    padding-top: 25px;
}
.choice-title{}
.choice-title i {
    font-size: 18px;
    color: #555;
    display: inline-block;
}
.choice-title h4{
	font-size: 16px;
    color: #555;
    display: inline-block;
	padding-left: 15px;
}

/* working area started */
.working-area
{
	padding: 180px 0;
}
.section-title a{
	color: #fff;
	border: 1px solid #fff;
	font-size: 15px;
	padding: 20px 45px;
	display: inline-block;
	background: #4272d7;
}
.section-title p {
    padding: 40px 0;
    font-size: 20px;
    color: #555555;
}

