.menu ul li{list-style: none;margin-left: 77px;float: left;padding: 5px;}
.menu{overflow: hidden;}

.demo .test:nth-child(1){background: red;}
.demo .test:nth-child(2){background: green;}
.demo .test:nth-child(3){background: yellow;}
.test{width: 33%;float: left;padding: 100px 0 100px 0;text-align: center;}