*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Lato', sans-serif;}
.fix{overflow: hidden;}
ul{list-style: none;}
a{transition: .3s;text-decoration: none;color: #2DABFD;}

/* header area */
.header-area
{
    min-height: 120px;
    border-top: 5px solid #4272d7;
}
.container
{
    width: 1200px;
    margin: auto;
}
.logo {
	margin-top: 30px;
	float: left;
	display: block;
}
/* main menu */
.main-menu {
	float: right;
}
.main-menu ul {
	
}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
.main-menu ul li a {
	padding: 50px 0; 
	display: block;
	color: #666666;
	font-size: 15px;
}
.main-menu ul li:hover > a {
	color: #4272d7;
}
.main-menu ul li:hover  ul.sub-menu
{
    opacity: 1;
    visibility: visible;
    top: 98%;
}

/* sub menu */
.main-menu ul li ul.sub-menu {
	position: absolute;
	width: 260px;
	background: #171a21;
	top: 110%;
	left: 0;
	border-top: 5px solid #4272d7;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 22;
}
.main-menu ul li ul.sub-menu li {
	display: block;
	border-bottom: 2px solid #1e2128;
	margin: 0;
}
.main-menu ul li ul.sub-menu li a {
	padding: 15px 20px;
	color: #fff;
	font-size: 13px;
}
.main-menu ul li ul.sub-menu li:hover > a
{
    background: #4272d7;
    padding-left: 30px;
}

/* another sub menu */
.main-menu ul li ul.sub-menu li ul.sub-menu {
	left: 100%;
	top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover ul.sub-menu 
{
    opacity: 1;
    visibility: visible;
}
/* search */
.header-search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 30px;
	position: relative;
	padding-left: 30px;
	display: block;
}
.header-search-icon::before {
	position: absolute;
	content: "";
	height: 15px;
	width: 2px;
	background: #cccccc;
	left: 0;
}

/* slider area */

.slider-area {
	width: 100%;
	overflow: hidden;
}
.slider-active
{
	width: 100%;
}
.single-slide {
	text-align: center;
	width: 100%;
	padding: 175px 0;
	background-size: cover;
	background-position: center;
}
.single-slide  h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	
}
.single-slide  h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 72px;
	font-weight: 800;
    margin-bottom: 50px;
}

.single-slide a {
	background: #4272d7;
	color: #fff;
	font-size: 15px;
	padding: 18px 42px;
	display: inline-block;
}

.owl-nav  button {
    position: absolute;
    top: 50%;
    margin: 0 50px;
    transition: all 0.3s ease-in-out;
	background: #3d3d3d !important;
	width: 40px;
	height: 40px;
  }

  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }

  .owl-nav button span {
	position: relative;
	font-size: 48px;
	top: -14px;
	color: #fff;
}


.owl-dots {
	text-align: center;
	padding: 15px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}
.owl-dots button.owl-dot {
	background: #bdbdbd;
	width: 10px;
	height: 10px;
	margin: 0 6px;
	border-radius: 50px;
	display: inline-block;
}
.owl-dots button.owl-dot.active
{
	background: #2059d3;
}



